In [1]:
import pyarrow.parquet as pq

ModuleNotFoundError: No module named 'pyarrow'

In [2]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-14.0.1-cp310-cp310-win_amd64.whl (24.6 MB)
     -------------------------------------- 24.6/24.6 MB 385.8 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.6 in c:\users\mchou\anaconda3\lib\site-packages (from pyarrow) (1.25.2)
Installing collected packages: pyarrow
Successfully installed pyarrow-14.0.1

In [1]:
import pyarrow.parquet as pq

In [2]:
trips = pq.read_table(r'C:\Users\mchou\Downloads\yellow_tripdata_2023-08.parquet')
trips = trips.to_pandas()

In [8]:
!pip install --upgrade pandas pyarrow

Requirement already satisfied: pandas in c:\users\mchou\anaconda3\lib\site-packages (2.0.3)
Collecting pandas
  Downloading pandas-2.1.3-cp310-cp310-win_amd64.whl (10.7 MB)
     -------------------------------------- 10.7/10.7 MB 277.4 kB/s eta 0:00:00
Requirement already satisfied: pyarrow in c:\users\mchou\anaconda3\lib\site-packages (14.0.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\mchou\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\mchou\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mchou\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\mchou\anaconda3\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\users\mchou\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.0.3
    Uninstalling pandas-2.0.3:
      Successfully uninstalled pandas-2.0.3

ERROR: Could not install packages due to an OSError: [WinError 5] Zugriff verweigert: 'C:\\Users\\mchou\\AppData\\Local\\Temp\\pip-uninstall-ei59r7n7\\_libs\\algos.cp310-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

In [10]:
python -m venv new_env
source new_env/bin/activate  # On Windows, use new_env\Scripts\activate
pip install numexpr pandas pyarrow

SyntaxError: invalid syntax (775183316.py, line 1)

In [11]:

!pip install numexpr pandas pyarrow

Requirement already satisfied: numexpr in c:\users\mchou\anaconda3\lib\site-packages (2.8.7)
Requirement already satisfied: pandas in c:\users\mchou\anaconda3\lib\site-packages (2.1.3)
Requirement already satisfied: pyarrow in c:\users\mchou\anaconda3\lib\site-packages (14.0.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\mchou\anaconda3\lib\site-packages (from numexpr) (1.25.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\mchou\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mchou\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mchou\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\mchou\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [13]:
conda update pandas pyarrow

Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

PackageNotInstalledError: Package is not installed in prefix.
  prefix: C:\Users\mchou\anaconda3
  package name: pandas

In [3]:
trips

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-08-01 00:26:44,2023-08-01 00:45:25,1.0,4.30,1.0,N,263,90,1,21.90,3.50,0.5,5.35,0.00,1.0,32.25,2.5,0.00
1,1,2023-08-01 00:55:42,2023-08-01 01:00:53,1.0,0.00,1.0,N,132,132,3,5.10,2.75,0.5,0.00,0.00,1.0,9.35,0.0,1.75
2,2,2023-08-01 00:32:04,2023-08-01 01:09:03,1.0,20.61,2.0,N,132,13,1,70.00,0.00,0.5,14.80,0.00,1.0,90.55,2.5,1.75
3,2,2023-08-01 00:13:37,2023-08-01 00:41:15,1.0,13.37,1.0,N,138,254,2,54.10,6.00,0.5,0.00,6.55,1.0,69.90,0.0,1.75
4,1,2023-08-01 00:24:46,2023-08-01 00:41:31,2.0,3.20,5.0,N,140,143,4,20.00,0.00,0.0,0.00,0.00,1.0,21.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2824204,2,2023-08-31 23:40:14,2023-08-31 23:56:46,NaN,4.62,NaN,None,148,36,0,17.69,0.00,0.5,0.00,0.00,1.0,21.69,NaN,NaN
2824205,2,2023-08-31 23:15:42,2023-08-31 23:36:57,NaN,3.07,NaN,None,148,186,0,9.52,0.00,0.5,2.35,0.00,1.0,15.87,NaN,NaN
2824206,2,2023-08-31 23:28:52,2023-08-31 23:52:00,NaN,3.97,NaN,None,25,225,0,23.24,0.00,0.5,0.00,0.00,1.0,24.74,NaN,NaN
2824207,2,2023-08-31 23:59:58,2023-09-01 00:13:01,NaN,3.58,NaN,None,163,74,0,16.35,0.00,0.5,0.00,0.00,1.0,20.35,NaN,NaN
2824208,1,2023-08-31 23:32:45,2023-09-01 00:04:36,NaN,0.00,NaN,None,186,244,0,33.29,0.00,0.5,0.00,0.00,1.0,37.29,NaN,NaN

In [4]:
trips.to_csv('dataTrips.csv')